<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title">Registration</h5>
      <div class="container">
        <form #regiForm="ngForm" novalidate (ngSubmit)="onSubmit(regiForm)">
          <div class="row mb-2">
            <div class="col-md-6">
              <label class="form-label" for="field_name">Name</label>
              <span style="color: red;">*</span>
              <input type="text" class="form-control" name="name" [(ngModel)]="userDTO.name" placeholder="Please enter your name."
               #name="ngModel" required pattern="^[A-Za-z]+( [A-Za-z]+)*$" />
              <div *ngIf="isFormSubmitted && name.errors && name.errors['required']" style="color: red;">Name required!</div>
              <div *ngIf="isFormSubmitted && name.errors && name.errors['pattern']" style="color: red;">Name must be alphabetic!</div>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="field_mobileNumber">Mobile Number</label>
              <span style="color: red;">*</span>
              <input type="number" class="form-control" name="mobileNumber" [(ngModel)]="userDTO.mobileNumber" placeholder="Please enter your mobile number."
              #mobileNumber="ngModel" required pattern="^[7-9]{1}[0-9]{9}$"/>
              <div *ngIf="isFormSubmitted && mobileNumber.errors && mobileNumber.errors['required']" style="color: red;">Mobile number required!</div>
              <div *ngIf="isFormSubmitted && mobileNumber.errors && mobileNumber.errors['pattern']" style="color: red;">Mobile number must be numeric and must starts with 7,8 or 9!</div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-6">
              <label class="form-label" for="field_birthDate">Birth Date</label>
              <span style="color: red;">*</span>
              <input type="date" class="form-control" name="birthDate" [(ngModel)]="userDTO.birthDate"
              required #birthDate="ngModel" />
              <div *ngIf="isFormSubmitted&&birthDate.errors&&birthDate.errors['required']" style="color: red;">Birth Date required!</div>
            </div>
            <div class="col-md-6">
              <div class="col">
                <label class="form-label" for="field_gender">Gender</label>
                <span style="color: red;">*</span>
              </div>
              <div class="col">
                <input type="radio" name="gender" value="male" [(ngModel)]="userDTO.gender" required #gender="ngModel"/> Male
                <input type="radio" name="gender" value="female" [(ngModel)]="userDTO.gender" required #gender="ngModel"/> Female
              </div>
              <div *ngIf="isFormSubmitted&&gender.errors&&gender.errors['required']" style="color: red;">Gender required!</div>
            </div>                                        
          </div>
          <div class="row mb-2">
            <div class="col-md-6">
              <label class="form-label" for="field_district">District</label>
              <span style="color: red;">*</span>
              <select class="form-control" name="district" [(ngModel)]="userDTO.district" (ngModelChange)="checkForPuneRegion($event)"
              required #district="ngModel">
                <option value="" selected disabled>Please select district.</option>
                <option *ngFor="let district of districtList" [value]="district">{{district}}</option>
              </select>
              <div *ngIf="isFormSubmitted&&district.errors&&district.errors['required']" style="color: red;">District required!</div>
              <div *ngIf="isFormSubmitted&&isPuneRegionSelected" style="color: red;">Pune district required!</div>
            </div>
            <div class="col-md-6">
              <div class="col">
                <label class="form-label" for="field_skills">Skills</label>
              </div>
              <div class="col">
                <ng-container *ngFor="let skill of skillSet; let i=index">
                  <input type="checkbox" name="{{i}}" [(ngModel)]="skill.isSelected" /> {{skill.name}}
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" style="margin-left: 4px;">Cancel</button>
            </div>
          </div>
        </form>
      </div>
      <div class="container">
        <div class="row mb-2">
          <h2>Users list</h2>
        </div>
        <div class="row">
          <div class="table table-bordered">
            <thead>
              <tr>
                <th>SrNo</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Birth Date</th>
                <th>Gender</th>
                <th>District</th>
                <th>Skills</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of savedUserList; let i=index;">
                <td>{{i + 1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.mobileNumber}}</td>
                <td>{{user.birthDate}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.district}}</td>
                <td>{{user.skills}}</td>
                <td>
                  <div class="d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary" (click)="onUpdate(user)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                      </svg>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="onDelete(user)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                      </svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>